{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}<h1>Qui sommes nous ?</h1>
    <p>
        En 2016,les habitants de la rue cavendish et de la rue de meaux ont décidé de créer Les riverains du 43
        (Association socio-culturelle),association qui a pour objet de mener des actions pour assurer la
        tranquilité,la salubrité et le bien vivre du quartier.
    </p>
    <p>Ainsi,à l'issue de plusieurs rencontres avec les élus locaux,le quartier s'est engagé à mettre à disposition
    un bureau de rencontre,d'échange et de décision de rénovation citoyenne.</p>
    <p>C'est ainsi qu'en 2016 les riverains décidèrent de créer Les riverains du 43(Association socio-culturelle:loi
        1901).</p>
    <p>EN 2016,la préfecture consentie à l'association un bureau au 43 rue Cavendish pour organiser leurs réunions

    </p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>


{% endblock %}
