h1
{
    margin-left:100px;
    margin-right:100px ;
    padding-bottom:2em;
    padding-top:3em;
    padding-left: 7em;

}
.icones
{
    margin-left:370px;
    margin-right:50px ;
    padding-bottom:0em;
    padding-top:0em;
    padding-left: 5em;
}