{% extends 'base.html.twig' %}

{% block title %}Hello ProjectController!{% endblock %}

{% block body %}
<p>
    Assurer la tranquilité,la salubrité et le bien vivre du quartier.<br>
    Organiser des évènements annuels pour les échanges sociaux et culturels des habitants.<br>
    Animer le quotidien par la création des aires des jeux occasionelles et durant toutes les vacances scolaires.
</p>
{% endblock %}
